@charset "UTF-8";

/* LeMEで追加するスタイル */

.vrtl body,
.hltr body {
  padding: 1em;   /* for Preview */
  font-family: serif-ja, serif;
}

.active_p {
  background-color: var(--vscode-editor-wordHighlightBackground);
}

.border_0001{
  border-style: none none none solid;
  border-width: 1px;
}
.border_0010{
  border-style: none none solid none;
  border-width: 1px;
}
.border_0011{
  border-style: none none solid solid;
  border-width: 1px;
}
.border_0100{
  border-style: none solid none none;
  border-width: 1px;
}
.border_0101{
  border-style: none solid none solid;
  border-width: 1px;
}
.border_0110{
  border-style: none solid solid none;
  border-width: 1px;
}
.border_0111{
  border-style: none solid solid solid;
  border-width: 1px;
}
.border_1000{
  border-style: solid none none none;
  border-width: 1px;
}
.border_1001{
  border-style: solid none none solid;
  border-width: 1px;
}
.border_1010{
  border-style: solid none solid none;
  border-width: 1px;
}
.border_1011{
  border-style: solid none solid solid;
  border-width: 1px;
}
.border_1100{
  border-style: solid solid none none;
  border-width: 1px;
}
.border_1101{
  border-style: solid solid none solid;
  border-width: 1px;
}
.border_1110{
  border-style: solid solid solid none;
  border-width: 1px;
}
.border_1111{
  border-style: solid solid solid solid;
  border-width: 1px;
}

svg {
  margin:    0;
  padding:   0;
}


.hltr th,
.hltr td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.vrtl th,
.vrtl td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.hltr blockquote,
.hltr pre{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.vrtl blockquote,
.vrtl pre {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
